<!DOCTYPE html>
<html>
{{>head title=this.title subpage='ATN Shop' }}

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    {{>header title=this.title}}
    <main>
        <div class="welcome-text">
            <h1>
                Welcome to <span>ATN SHOP</span></h1>
            <a href="profile">About US</a>
        </div>
    </main>

    <footer class="footer">
        <div class="l-footer">
            <h1>
                <img src="img/logo.png" alt="">
            </h1>
            <p>
                ATN is a Vietnamese company which is selling barbie toys to teenagers in many provinces all over
                Vietnam. The company has the
                revenue over 700.000 dollars/year.</p>
        </div>
        <ul class="r-footer">
            <li>
                <h2>
                    Social</h2>
                <ul class="box">
                    <li><a href="https://www.facebook.com/nghongdan/">Facebook</a></li>
                    <li><a href="https://www.instagram.com/pinkdzun/">Instagram</a></li>
                    <li><a href="https://github.com/nghongdan/">Github</a></li>
                </ul>
            </li>
            <li class="features">
                <h2>
                    Information</h2>
                <ul class="box h-box">
                    <li><a href="order">Order</a></li>
                    <li><a href="payment">Payment</a></li>
                    <li><a href="product">Product</a></li>
                    <li><a href="profile">Profile</a></li>
                    <li><a href="report">Report</a></li>
                </ul>
            </li>
            <li>
                <h2>
                    Legal</h2>
                <ul class="box">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Contract</a></li>
                </ul>
            </li>
        </ul>
        <div class="b-footer">
            <p>
                All rights reserved by ©Nguyen Hong Dan GCS190090 </p>
        </div>
    </footer>
</body>

</html>