<!DOCTYPE html>
<html>
{{>head title=this.title subpage='ATN SHOP' }}

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/coca-cola-ii" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    {{>header title=this.title}}

    <main>
        <!-- title -->
        <nav class="product-filter">

            <h1>Dolls Collections</h1>

            <div class="sort">

                <div class="collection-sort">
                    <label>Filter by:</label>
                    <select>
                        <option value="/">All Dolls</option>
                    </select>
                </div>

                <div class="collection-sort">
                    <label>Sort by:</label>
                    <select>
                        <option value="/">Featured</option>
                    </select>
                </div>

            </div>

        </nav>

        <!--products -->
        <section class="products">

            <div class="product-card">
                <div class="product-image">
                    <img src="img/bd155.jpg">
                </div>
                <div class="product-info">
                    <a href="Product">
                        <h5>Barbie Doll #155</h5>
                    </a>
                    <h6>$99.99</h6>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="img/bd136.jpg">
                </div>
                <div class="product-info">
                    <a href="Product">
                        <h5>Barbie Doll #136</h5>
                    </a>
                    <h6>$9.999</h6>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="img/bkd.jpg">
                </div>
                <div class="product-info">
                    <a href="Product">
                        <h5>Barbie Karate Doll</h5>
                    </a>
                    <h6>$19.99</h6>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="img/bfd.jpg">
                </div>
                <div class="product-info">
                    <a href="Product">
                        <h5>Barbie Fashion Doll</h5>
                    </a>
                    <h6>$9.99</h6>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="img/bdd.jpg">
                </div>
                <div class="product-info">
                    <a href="Product">
                        <h5>Barbie Doctor Doll</h5>
                    </a>
                    <h6>$29.99</h6>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="img/bbd.jpg">
                </div>
                <div class="product-info">
                    <a href="Product">
                        <h5>Barbie Blonde Doll</h5>
                    </a>
                    <h6>$19.99</h6>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="img/bsd.jpg">
                </div>
                <div class="product-info">
                    <a href="Product">
                        <h5>Barbie Space Doll</h5>
                    </a>
                    <h6>$19.99</h6>
                </div>
            </div>

            <div class="product-card">
                <div class="product-image">
                    <img src="img/buc.jpg">
                </div>
                <div class="product-info">
                    <a href="Product">
                        <h5>Barbie Ultimate Closet</h5>
                    </a>
                    <h6>$29.99</h6>
                </div>
            </div>

        </section>

    </main>


    <footer class="footer">
        <div class="l-footer">
            <h1>
                <img src="img/logo.png" alt="">
            </h1>
            <p>
                ATN is a Vietnamese company which is selling barbie toys to teenagers in many provinces all over
                Vietnam.
                The company has the
                revenue over 700.000 dollars/year.</p>
        </div>
        <ul class="r-footer">
            <li>
                <h2>
                    Social</h2>
                <ul class="box">
                    <li><a href="https://www.facebook.com/nghongdan/">Facebook</a></li>
                    <li><a href="https://www.instagram.com/pinkdzun/">Instagram</a></li>
                    <li><a href="https://github.com/nghongdan/">Github</a></li>
                </ul>
            </li>
            <li class="features">
                <h2>
                    Information</h2>
                <ul class="box h-box">
                    <li><a href="order">Order</a></li>
                    <li><a href="payment">Payment</a></li>
                    <li><a href="product">Product</a></li>
                    <li><a href="profile">Profile</a></li>
                    <li><a href="report">Report</a></li>
                </ul>
            </li>
            <li>
                <h2>
                    Legal</h2>
                <ul class="box">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Contract</a></li>
                </ul>
            </li>
        </ul>
        <div class="b-footer">
            <p>
                All rights reserved by ©Nguyen Hong Dan GCS190090 </p>
        </div>
    </footer>
</body>

</html>