<!DOCTYPE html>
<html>
{{>head title=this.title subpage='Page X' }}

<body>
    {{>header  title=this.title}}

    <main>
        <div class="container">
            <H1 height="150px">{{title}}</H1>
            
            <form action="/product" method="POST" >
                <BR> ProductName:
                <input type="text" class="form-control" name="ProductName" id="ProductName">
                <BR> ProductCode:
                <input type="text" class="form-control" name="ProductCode" id="ProductCode">
                <BR> Information:
                <textarea  type="text" class="form-control" name="Information" id="Information" rows="3"></textarea>
                <BR> Price:
                <input type="number" class="form-control" name="Price" id="Price">
                <BR> Unit:
                <input type="text" class="form-control" name="Unit" id="Unit">
                <BR> ImgLink:
                <input type="text" class="form-control" name="ImgLink" id="ImgLink">
                <input type="submit" class="btn btn-primary" value="Create">
            </form>
        </div>        
    </main>
    

    {{>footer}}
</body>

</html>