* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
}
/*home*/
main {
	background: linear-gradient(rgba(255, 215, 240, 0.8), rgba(255, 188, 219, 0.8)), url(img/background.jpg);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.welcome-text {
	position: absolute;
	width: 800px;
	height: 300px;
	margin: 20% 30%;
    margin-left: 22%;
	text-align: center;
}
.welcome-text h1 {
    font-weight: bolder;
	text-align: center;
	color: #000000dd;
	text-transform: uppercase;
	font-size: 60px;
}
.welcome-text h1 span {
	color: #960070;
}
.welcome-text a {
	border: 2px solid rgb(255, 255, 255);
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.welcome-text a:hover {
	background: #fff;
	color: #333;
}
*, *:before, *:after {
box-sizing: border-box;
}

/*footer*/
body {
font-family: poppins;
margin: 0;
display: grid;
font-size: 15px;
}
.footer {
display: flex;
flex-flow: row wrap;
padding: 50px;
color: rgb(0, 0, 0);
background-color: rgb(255, 174, 221);
}

.footer > * {
flex:  1 100%;
}

.l-footer {
margin-right: 1.25em;
margin-bottom: 1em;
}

h2 {
font-weight: 400;
font-size: 20px;
}

.footer ul {
list-style: none;
padding-left: 0;
}

.footer li {
line-height: 2em;
}

.footer a {
text-decoration: none;
}

.r-footer {
display: flex;
flex-flow: row wrap;
}

.r-footer > * {
flex: 1 50%;
margin-right: 1.25em;
}

.box a {
color: rgb(105, 105, 105);
}

.h-box {
column-count: 2;
column-gap: 1.25em;
}

.b-footer {
text-align: center;
color: rgb(0, 0, 0);
padding-top: 50px;
}

.l-footer p {
padding-right: 20%;
color: rgb(112, 112, 112);
}   

@media screen and (min-width: 600px) {
.r-footer > * {
flex: 1;
}

.features {
flex-grow: 2;
}

.l-footer {
flex: 1 0px;
}

.r-footer {
flex: 2 0px;
}
}

/*login*/
.wrapper{
	width: 400px;
	height: 420px;
	color: #000;
	top: 50%;
	left: 50%;
	padding: 60px 30px;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	box-shadow: 8px 8px 50px #000;
}
h1 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 30px;
	color: #fff;
	text-align: center;
	margin-bottom: 8%;
	font-family: Courgette;
}
.wrapper input {
	width: 100%;
	margin-bottom: 20px;
}
.wrapper input[type=text], .wrapper input[type=password]{
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	outline: none;
	height: 30px;
	font-size: 16px;
	opacity: 1;
	color: #ccc;
}
.wrapper input[type=submit]{
	border: none;
	outline: none;
	height: 40px;
	background: #f6648b;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
.wrapper input[type=submit] :hover {
	cursor: pointer;
}
.wrapper a{
	font-size: 14px;
	text-decoration: none;
	color: #fff;
	opacity: 0.8;
}
.wrapper a:hover {
	color: #fff;
	opacity: 1;
}
.bottom-text {
	color: #fff;
}
.bottom-text input{
	width: 10%;
	float: left;
}
.bottom-text a{
	float: right;
}
.socials{
	margin-top: 12%;
	text-align: center;
}
.socials a{
	width: 30px;
	height: 30px;
	display: inline-block;
	border: 1px solid #fff;
	border-radius: 50%;
	margin: 0 5px;
}
.socials a:nth-child(1){
	background: #3b5998;
}
.socials a:nth-child(2){
	background: #f88f18;
}
.socials a:nth-child(3){
	background: #dc4e41;
}
.socials a:nth-child(4){
	background: #001722;
}
.socials a i{
	padding: 8px 0;
}
#overlay-area{
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: -5;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
}

/*order*/
.product-filter {
  display: flex;
  margin-top: 90px;
  text-align: center;
}
.product-filter h1 {
  flex-grow: 1;
  color: #000;
  font-family: 'Coca Cola ii', sans-serif;
  font-weight: lighter;
  font-size: 60px;
}
.sort {
	margin-top: 10px;
	margin-right: 100PX;
	display: flex;
}
.collection-sort {
	font-weight: bold;
	display: flex;
  	flex-direction: column;
}
.products {
  display: flex;
  flex-wrap: wrap;
}
.product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
  display: flex;
  margin-top: -7%;
  margin-bottom: 7%;
}
.product-info {
  margin-top: auto;
  margin-left: 5%;
}
.product-info a{
	text-decoration: none;
	color: rgb(5, 3, 3);
}
@media (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  }
}

/*payment*/
.payment-name h2{
	margin-top: 5%;
    text-align:left;
	margin-left: 2%;
	font-weight: bold;
}
.error {
    color: red;
    border-color: red;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -10px;
}

.col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
}

.col-25,.col-50,.col-75 {
    padding: 0 16px;
}

.container {
    background-color: #ffcbf2;
    padding: 3px 18px 13px 18px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    box-shadow: 0 0 2rem 0 rgba(168, 180, 194, 0.37);
}
input[type=text1] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid rgb(130, 26, 26);
    border-radius: 1px;
}
label {
    margin-bottom: 5px;
    display: block;
}
.icon-container {
    margin-bottom: 5px;
    padding: 7px 0;
    font-size: 20px;
}
.btn {
    background-color: #01BAEF;
    color: white;
    padding: 12px;
    margin: 1px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    box-shadow: 0 0 1rem 0 rgba(99, 123, 150, 0.329);
}
.btn:hover {
    background-color: #0CBABA;
}
hr {
    border: 1px solid lightgrey;
}
span.price {
    float: right;
    color: rgb(77, 76, 76);
}
.col-25 a{
	text-decoration: none;
}

/*profile*/
.contact{
	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.contact .content
{
	max-width: 800px;
	text-align: center;
}
.contact .content h2{
	margin-top: 3%;
	font-size: 26px;
	font-weight: bolder;
	color: rgb(0, 0, 0);
}
.contact .content p{
	font-size: 16px;
	font-weight: 300;
	color: rgb(129, 0, 54);
}
.container-profile{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
.container-profile .contactInfo{
	width: 50%;
	display: flex;
	flex-direction: column;
}
.container-profile .contactInfo .box-profile{
	position: relative;
	padding: 20px 0;
	display: flex;
}
.container-profile .contactInfo .box-profile .icon{
	min-width: 50px;
	height: 50px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 20px;
}
.container-profile .contactInfo .box-profile .text{
	display: flex;
	margin-left: 20px;
	font-size: 15px;
	flex-direction: column;
	font-weight: 300;
}
.container-profile .contactInfo .box-profile .text h3{
	font-size: 24px;
	font-weight: bold;
	color: #197e8b;
}
.container-profile .contactInfo .box-profile .text p{
	font-size: 16px;
	font-weight: 600;
}
.contactForm{
	width: 40%;
	padding: 30px;
	background: #fff;
}
.contactForm h2{
	font-size: 20px;
	color: #333;
	font-weight: 600;
}
.contactForm .inputBox{
	position: relative;
	width: 100%;
	margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox  textarea{
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
}
.contactForm .inputBox span{
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5%;
	color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox  textarea:valid ~ span
{
	color: #e91e63;
	font-size: 12px;
	transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
	width: 100px;
	background: #00bcd4;
	color: #fff;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
}
@media (max-width: 991px)
{
	.contact{
		padding: 50px;
	}
	.container-profile
	{
		flex-direction: column;
	}
	.container-profile .contactInfo
	{
		margin-bottom: 40px;
	}
	.container-profile .contactInfo, .contactForm
	{
		width: 100%;
	}
}

section.contact .map{
    margin-top: 15%;
	margin-left: 50%;
}