<!DOCTYPE html>
<html>
{{>head title=this.title subpage='ATN SHOP' }}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    {{>header title=this.title}}

    <main>
        <section class="contact">
            <div class="content">
                <h2>Contact us</h2>
                <p>ATN is a Vietnamese company which is selling barbie toys to teenagers in many provinces all over
                    Vietnam. The company
                    has the revenue over 500.000 dollars/year. Currently each shop has its own database to store
                    transactions for that shop
                    only. Each shop has to send the sale data to the board director monthly and the board director need
                    lots of time to
                    summarize the data collected from all the shops. Besides the board can’t see the stock information
                    update in real time.</p>
            </div>
            <div class="container-profile">
                <div class="contactInfo">
                    <div class="box-profile">
                        <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                        <div class="text">
                            <h3>Address</h3>
                            <p>GARDEN Republic Building, <br>No. 20 Cong Hoa, Ward 12, Tan Binh District, <br>TP.HCM.
                            </p>
                        </div>
                    </div>
                    <div class="box-profile">
                        <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                        <div class="text">
                            <h3>Phone</h3>
                            <p>094-275-7177</p>
                        </div>
                    </div>
                    <div class="box-profile">
                        <div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                        <div class="text">
                            <h3>Email</h3>
                            <p>dannthgcs190090@fpt.edu.vn</p>
                        </div>
                    </div>
                </div>
                <div class="contactForm">
                    <form>
                        <h2>Send Message</h2>
                        <div class="inputBox">
                            <input type="text2" name="" required="required">
                            <span>Full Name</span>
                        </div>
                        <div class="inputBox">
                            <input type="text2" name="" required="required">
                            <span>Email</span>
                        </div>
                        <div class="inputBox">
                            <textarea required="required"></textarea>
                            <span>Type your message...</span>
                        </div>
                        <div class="inputBox">
                            <input type="submit" name="" value="Send">
                        </div>
                    </form>
                </div>
            </div>
            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.107169189661!2d106.6505339140242!3d10.803103361656666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175293807f40c35%3A0x9d9454fc0be382af!2zMjAgQ-G7mW5nIEjDsmEsIFBoxrDhu51uZyAxMiwgVMOibiBCw6xuaCwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1625825913100!5m2!1sen!2s"
                    width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="l-footer">
            <h1>
                <img src="img/logo.png" alt="">
            </h1>
            <p>
                ATN is a Vietnamese company which is selling barbie toys to teenagers in many provinces all over
                Vietnam.
                The company has the
                revenue over 700.000 dollars/year.</p>
        </div>
        <ul class="r-footer">
            <li>
                <h2>
                    Social</h2>
                <ul class="box">
                    <li><a href="https://www.facebook.com/nghongdan/">Facebook</a></li>
                    <li><a href="https://www.instagram.com/pinkdzun/">Instagram</a></li>
                    <li><a href="https://github.com/nghongdan/">Github</a></li>
                </ul>
            </li>
            <li class="features">
                <h2>
                    Information</h2>
                <ul class="box h-box">
                    <li><a href="order">Order</a></li>
                    <li><a href="payment">Payment</a></li>
                    <li><a href="product">Product</a></li>
                    <li><a href="profile">Profile</a></li>
                    <li><a href="report">Report</a></li>
                </ul>
            </li>
            <li>
                <h2>
                    Legal</h2>
                <ul class="box">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Contract</a></li>
                </ul>
            </li>
        </ul>
        <div class="b-footer">
            <p>
                All rights reserved by ©Nguyen Hong Dan GCS190090 </p>
        </div>
    </footer>

</body>

</html>